<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h2><span class="accent">Easy</span><span class="primary">Theory</span></h2>
    <div></div>
    <div class="outer-caption">
      <div class="logo"><img src="assets/images/logo.png" alt="easy thoery logo" />
      </div>
      <div class="inner-caption">
        <p class="light">Die App mit über 300 prüfungsähnlichen Fragen für die schweizer theoretische Führerprüfung Kat.
          A und B.</p>
      </div>
    </div>
    <div class="outer-downloads">
      <div class="downloads">
        <div class="item"><a class="playstoreLink" target="_blank"
            href="https://play.google.com/store/apps/details?id=com.easytheory"><img
              src="assets/images/google-play-badge.png" alt="play store logo" /></a></div>
        <div class="item"><a class="appstoreLink" target="_blank"
            href="https://apps.apple.com/us/app/easytheory/id1529844252"><img src="assets/images/app_store_badge_DE.png"
              alt="app store logo" /></a>
        </div>
      </div>
    </div>
  </div>
  <a href=" #one" class="more scrolly"><span class="accent">Erfahre mehr</span></a>
</section>
