<!-- Three -->
<section id="three" class="wrapper style3 special">
  <div class="inner">
    <header class="major">
      <h2>Lerne mit EasyTheory einfach für die Auto und Motorrad Theorieprüfung</h2>

      <p>Du möchtest Führerschein machen und EasyTheory wird Dich einfach, intuitiv und optimal mit über 300
        prüfungsähnlichen Fragen für die Theorieprüfung
        vorbereiten. Ob du die Fahrprüfung fürs PKW oder Töff brauchst, mit uns wird die theoretische Prüfung easy.</p>
    </header>
    <ul class="features">
      <li class="icon">
        <h3>Prüfungssimulation</h3>
        <p>Bereite dich für die Prüfung vor, indem du sie auf der App simulierst. Wie bei deiner echten Prüfung, werden
          dir 50 Fragen gestellt, welche du in 45 Minuten beantworten musst.</p>
      </li>
      <li class="icon">
        <h3>Bilder mit hoher Qualität</h3>
        <p>Wie bei den offiziellen Prüfungsfragen, werden dir die Fragen mit echten Fotos, 3D Renderings und
          Pictogrammen gestellt.</p>
      </li>
      <li class="icon">
        <h3>Fragen werden erklärt</h3>
        <p>Alle Fragen werden ausführlich erklärt. Zudem werden dir weiterführende Links zu Gesetzestexten oder anderen
          interessanten Webseiten angezeigt.</p>
      </li>
      <li class="icon">
        <h3>Plattformübergreifend</h3>
        <p>Die EasyTheory App ist auf iOS und Android Smartphones und Tablets verfügbar.</p>
      </li>
      <li class="icon">
        <h3>Offline</h3>
        <p>Nach dem Download funktioniert die App offline und benötigt keine weitere Internetverbindung. Internet
          brauchst du nur falls du weiterführende Links öffnen möchtest.</p>
      </li>
      <li class="icon">
        <h3>Prüfungähnliche Fragen</h3>
        <p>Um EasyTheory so günstig anbieten zu können, verwenden wir keine offiziellen Prüfungsfragen. Unsere Fragen
          beziehen sich jedoch auf ähnliche Verkehrssituationen.</p>
      </li>
    </ul>
  </div>
</section>
