<!-- One -->
<section id="one" class="wrapper style1 special">
  <div class="content">
    <h3>Auf die Auto Theorieprüfung mit unserer App bestens vorbereitet</h3>
    <p>
      Du bist auf dem weg zum Führerschein und suchst im Jahr 2021 eine <a
        href="https://play.google.com/store/apps/details?id=com.easytheory">Andorid Theorieprüfung App</a> oder
      eine <a href="https://apps.apple.com/ch/app/easytheory/id1529844252#?platform=iphone">iOS Fahrprüfung App</a> für
      die Schweiz - Auto oder Motorrad?
      Hast aber kein Bock auf die happigen und lästigen ASA Lizenzgebühren? Das dachten wir uns auch!
    </p>
    <h3>Was erwartet dich beim Theorielernen mit unserer ührerscheinprüfung App?</h3>
    <p>
      EasyTheory bereitet dich ohne hohe Kosten auf die theoretische Führerscheinprüfung (Führerschein-Theorie Schweiz,
      Kat.A und B) vor. Anhand von über 300 sorgfältig recherchierten prüfungsänlichen Fragen, inklusive Piktogrammen,
      Fotos, und 3D Renderings, lernst du alles was du brauchst um die Theorieprüfung locker zu bestehen. Unsere
      sorgfältig
      entwickelten Szenarien bereiten dich auf die schweizerische Theorieprüfung für Auto Kat. B oder auch für Motorrad
      Kat.
      A (A1) vor. Mit unserem eigen erstellten Bildmaterial und überarbeiteter Fragestellung, sparen wir dir die asa
      Lizenzgebühren. Du lernst die selben Fragen wie du in der Prüfung antreffen wirst.
    </p>
    <h3>Was macht EasyTheory einzigartig?</h3>
    <p>
      Unsere App hat drei Modus. Im “Lern Modus” findest du über 300 Fragen mit Fotos, Piktogrammen und 3D Renderings.
      Zusätzlich gibt es Tipps und Links zu den Regelungen und weitere Infos. Dann kannst du sicher sein, dass du die
      Antworten nicht nur auswendig lernst, sondern auch richtig verstehst. Unser intelligentes System zeigt dir die
      falsch
      beantworteten Fragen wiederholt an, bis du sie gemeistert hast. Du findest sie auch noch im Modus “Fehler” . Auf
      dieser Merkliste kannst du sie noch einmal lernen um auf nummer Sicher zu gehen. Letztlich gibt es den
      Prüfungsmodus
      wo du wie in Echt Prüfungen machen kannst. Wie bei der offiziellen Prüfung musst du 50 Fragen in 45 Minuten
      beantworten. Viel Glück!
      Bleib motiviert indem du Pokale und Medaillen sammelst, und vergiss nicht, dass tägliches lernen den Meister
      macht!
      Spar deine Daten und deine Privatsphäre! Unsere App läuft offline und speichert dein Fortschritt direkt auf deinem
      Handy. Nur du hast Zugriff auf deine Daten.
    </p>
    <h3>
      Deine Vorteile beim lernen für die Autotheorie
    </h3>
    <ul>
      <li>Prüfungssimulation - wie in der echten Auto und Motorfahrzeug Theorieprüfung in der Schweiz.</li>
      <li>viel günstiger im Vergleich zu den anderen Apps mit asa Lizenzgebühren</li>
      <li>Intelligentes Lernsystem - falsche Fragen werden dir öfters angezeigt.</li>
      <li>Offline Modus - spar Daten wenn unterwegs.</li>
      <li>Motiviere dich zum lernen mit Pokalen und Medaillen.</li>
      <li>Realtime Update deines Fortschritts.</li>
      <li>Mit Fotos, Piktogrammen und 3D Renderings wie in der echten Theorieprüfung.</li>
      <li>Detaillierte Erklärungen zu allen Theoriefragen</li>
      <li>Links zu den offiziellen Regeln, Gesetzestexten und hilfreichem Material.</li>
      <li>Vorbereitung auf die Theorieprüfung 2021.</li>
      <li>Cross Platform Anwendung: Tablets und Smartphones.</li>
      <li>Datenschutz - Keine Speicherung deiner persönlichen Daten.</li>
      <li>Merkliste für die schwierigen Fragen erstellen.</li>
    </ul>
    <p>
      Gefällt dir unsere App? Auf eine positive Bewertung im Google Play Store freuen wir uns! Für Kritik und
      Verbesserungsvorschläge stehen wir dir natürlich mit offenem Ohr da. <a
        href="{{ site.baseurl }}{% link contact.md %}">Schreib uns einfach</a>.
    </p>
    <p>
      Momentan gibt es EasyTheory nur auf Deutsch, weiteren Sprachen kommen aber bald dazu. (EasyTheory is currently
      only
      available in German, but we are working on additional languages).
    </p>
  </div>
  <div>
    <img src="assets/images/home_screen_phones.jpg" alt="Screenshots mit der easytheory Theorieprüfung App" />
  </div>
</section>
